<template>
    
    <div id="app" class="App main-container">
    <title-container></title-container>
    <header-container ></header-container>
    <dice-table></dice-table>
   
  </div>
</template>


<script>
import TitleContainer from "./TitleContainer.vue";
import HeaderContainer from "./HeaderContainer.vue";
import DiceTable from "./DiceTable.vue";
export default {
  components: {
    "title-container": TitleContainer,
    "header-container": HeaderContainer,
    "dice-table": DiceTable
  }
};
</script>
