<template>
     <tr>
          <td class="dice">
            <label for="0"># Sides</label>
            <select  class="dice-selector" v-model="selected">
              <option v-for="(side, index) in die.sides" v-bind:value="side" :key="index">{{side}}</option>
              
            </select>
            <button class="dice-roller" @click="rollDie">Roll</button>
          </td>
          <td class="dice-result">{{die.result | isNotRolled}}</td>
          <td>
            <button @click="removeDice" class="removeDice">Remove Die</button>
          </td>
        </tr>
</template>

<script>
import { bus } from "../main";

export default {
  props: ["die", "index"],
  data() {
    return {
      selected: 4
    };
  },
  methods: {
    rollDie() {
      let result = Math.floor(Math.random() * (this.selected - 1 + 1)) + 1;

      bus.$emit("rolled", { index: this.index, result: result });
      bus.$emit("add-results");
    },
    removeDice() {
      bus.$emit("remove-dice", this.index);
    }
  },
  filters: {
    isNotRolled(value) {
      return value === 0 ? "--" : value;
    }
  }
};
</script>

