<template>
     <table>
      <tbody>
        <tr>
          <th>Dice</th>
          <th>Results</th>
          <th>Remove Dice</th>
        </tr>
        <!-- Dice -->
        <template v-for="(die, index) in dice"  >
              
                <dice :die="die" :key="index"  
                :index="index"               
              
              v-on:test="testMethod"></dice>          
          </template>  
        
        <tr class="result-total">
          <td>Total</td>
          <td >{{resultsTotal}}</td>
        </tr>
      </tbody>
    </table>
</template>


<script>
import Dice from "./Dice.vue";
import { bus } from "../main";
export default {
  components: {
    Dice
  },
  created() {
    // Receive newly rolled dice
    bus.$on("rolled", obj => {
      this.dice[obj.index].result = obj.result;
    });
    // Update results total
    bus.$on("add-results", () => this.updateDiceSum());
    // receive order to remove dice
    bus.$on("remove-dice", index => {
      this.dice.splice(index, 1);
      bus.$emit("add-results");
    });
    // receive the number of dice to add
    bus.$on("add-many-dice", numOfDice => {
      for (let i = 0; i < numOfDice; i++) {
        this.dice.push({ ...this.diceTemplate });
      }
    });
    // RollAll
    bus.$on("roll-all", () => {
      for (let d of this.$children) {
        d.rollDie();
      }
    });
  },
  data() {
    return {
      diceTemplate: {
        sides: [4, 6, 8, 10, 12, 20],
        sideSelected: 4,
        result: 0
      },
      dice: [
        {
          sides: [4, 6, 8, 10, 12, 20],
          sideSelected: 4,
          result: 0
        },
        {
          sides: [4, 6, 8, 10, 12, 20],
          sideSelected: 4,
          result: 0
        }
      ],
      resultsTotal: 0
    };
  },
  methods: {
    updateDiceSum() {
      let tempResult = 0;
      // Intenté hacerlo con reduce pero por alguna razon dio error
      // de JSON recursivo
      for (let die of this.dice) {
        tempResult += die.result;
      }
      this.resultsTotal = tempResult;
    },

    addDice() {},

    testMethod() {
      console.log("test passed");
    }
  }
};
</script>

