<template>
    <header class="container-header">
      <div class="dice-form">
        <label for="number-dice">Select the number of dices you want to roll</label>
        <input name="number-dice" v-model="numDiceToAdd" type="number">
        <span>or add them one by one</span>
        <button @click="addManyDice" class="select-dice-submit" type="submit">Add Die</button>
      </div>
      <button @click="rollAll">Roll them all!</button>
    </header>
</template>

<script>
import { bus } from "../main";
export default {
  data() {
    return {
      numDiceToAdd: 1
    };
  },
  methods: {
    addManyDice() {
      bus.$emit("add-many-dice", this.numDiceToAdd);
    },
    rollAll() {
      bus.$emit("roll-all");
    }
  }
};
</script>

