<template>
    <div class="title-container">
      <h3>{{title}}</h3>
    </div>
</template>


<script>
export default {
  data() {
    return {
      title: "Dice Roller 3xtr3m3 2"
    };
  }
};
</script>

