<template>
  <div id="app">
    <app-container></app-container>
  </div>
</template>

<script>
import AppContainer from "./components/AppContainer.vue";
export default {
  name: "app",
  components: { "app-container": AppContainer },
  data() {
    return {};
  }
};
</script>

<style lang="scss">
</style>
